:root {
  --primary-color: white; /* bílá white */
  --secondary-color: crimson; /* červená crimson */
  --gradient-color: rgba(0, 0, 0, 0.7); /* rgba(0, 0, 0, 0.7) */
  --font-size-large-h1: 76px; /*76px*/
  --font-size-large-nav-title: 67px; /*67px*/
  --font-size-large-nav: 45px; /*45px*/
  --font-size-small-nav-title: 40px; /*40px*/
  --font-size-li-a: 27px; /*27px*/
  --font-size-p: 20px; /*20px*/
  --font-size-minimum: 12px; /*12px*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(var(--gradient-color), var(--gradient-color)),
    url(../images/background.webp);
  background-size: cover;
  background-position: center;
  overflow-y: auto; /* Umožní vertikální rolování, pokud obsah přesahuje */
}

.navbar {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  padding: 5px 0 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  margin-left: 20px;
}
.logo-title {
  color: var(--primary-color);
  font-size: var(--font-size-large-nav);
  font-weight: 600;
  cursor: pointer;
}

span {
  color: var(--secondary-color);
}

.logo-p {
  color: var(--primary-color);
  font-size: var(--font-size-p);
  font-weight: 600;
  cursor: pointer;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: none;
  background: none;
  margin-right: 20px;
  align-self: center;
  z-index: 15;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 4px 0;
  transition: transform 0.3s, opacity 0.3s; /* Přidání přechodů pro transformaci a průhlednost */
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 90%;
  max-width: 500px; /* Maximální šířka 500px */
  top: 0;
  right: -100%; /*menu je mimo display*/
  background-color: var(--gradient-color); /* Poloprůhledná barva */
  backdrop-filter: blur(7px); /* Efekt rozmazání */
  overflow-y: auto; /* Umožní vertikální rolování, pokud obsah přetéká */
  transition: right 0.3s ease;
  z-index: 5;
}

.menu li {
  margin-bottom: 10px;
  width: 80%; /* Přizpůsobení šířky kontejneru */
}

.menu li:hover {
  border: 2px solid var(--primary-color); /* Přidání bílého rámečku */
}

.menu li:first-child {
  margin-top: 150px;
}

.menu li a {
  background-color: transparent; /* bez pozadí */
  text-decoration: none; /* bez podtržení */
  margin: 10px;
  text-align: center;
  color: var(--primary-color);
  font-size: var(--font-size-li-a);
  font-size: clamp(var(--font-size-minimum), 4vw, var(--font-size-li-a));
  font-weight: 600;
  display: block; /* Zajišťuje, že odkazy zaberou celou šířku rodičovského kontejneru */
  width: 100%; /* Zajišťuje, že odkazy zaberou celou šířku rodičovského kontejneru */
}

.menu li a:hover {
  color: var(--secondary-color); /* Změna barvy písma při hoveru */
}

.menu.active {
  right: 0%; /* zajišťuje vyjíždění menu zprava*/
}

/* Styl pro aktivní hamburger kde vyjede menu zprava a ikona hamburger se změní na křížek  */
.menu.active {
  right: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(10px, 10px);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

section {
  width: 100%; /* Zajišťuje, že sekce pokrývá celou šířku okna */
  height: 100vh; /* Zajišťuje, že sekce má výšku celé viditelné oblasti okna */
  padding: 20px; /* Přidání odsazení kolem obsahu */
  box-sizing: border-box; /* Zajištění, že padding je zahrnut do celkové šířky a výšky */
  /* margin-top: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home {
  height: 400px;
  padding: 70px;
}

.title-1 {
  font-size: clamp(
    var(--font-size-small-nav-title),
    6vw,
    var(--font-size-large-nav-title)
  );
  color: var(--primary-color);
  font-weight: 600;
}

.home p {
  color: var(--primary-color);
  font-size: 20px;
  font-size: clamp(var(--font-size-minimum), 6vw, var(--font-size-p));
  margin-top: 10px;
}

/* Media query pro skrytí textu při šířce viewportu menší než 320px */
@media (max-width: 320px) {
  .title-1,
  .home p {
    display: none; /* Skryje text */
  }
}

.home button {
  white-space: nowrap;
  height: 40px;
  color: #fff;
  background: var(--secondary-color);
  font-size: var(--font-size-p);
  padding: 5px 30px;
  margin-top: 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: 0.4s ease;
  cursor: pointer;
}

.home button:hover {
  background: none;
  border: 2px solid var(--secondary-color);
}

/* Media queries pro PC */
@media (min-width: 1200px) {
  .hamburger {
    display: none;
  }

  .menu {
    display: flex; /* Zajistí, že menu je viditelné na velkých obrazovkách */
    flex-direction: row;
    align-items: center;
    position: static; /* Změna pozice pro normální tok dokumentu */
    background-color: transparent; /* Změna barvy pozadí */
    backdrop-filter: none; /* Odstraní rozmazání pozadí */
    right: auto; /* Resetuje pozici */
    top: auto; /* Resetuje pozici */
    height: 100%;
    width: 100%;
    max-width: 100%;
  }
  .menu li {
    margin: 0 10px; /* Horizontální mezery mezi položkami */
    border: 4px solid transparent; /* Přidání bílého rámečku */
  }
  .menu li a {
    display: block; /* Umožní odkazu zabírat celou šířku položky */
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--font-size-li-a);
    font-weight: 600;
    padding: 10px 15px; /* Odsazení odkazu */
    margin: auto;
  }
  .menu li a:hover {
    color: var(--secondary-color);
  }

  .menu li:hover {
    border: 4px solid var(--primary-color); /* Přidání bílého rámečku */
    transition: transform 0.3s, opacity 0.3s;
  }

  .menu li:first-child {
    margin-top: 0px;
  }
}
